.head{
  background: #ffffff;
  &__wrapper{
    height: 76px;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__block{
    display: flex;
    width: 100%;
    &_catalog{
      width: 116px;
      height: 40px;
      margin-left: 24px;
      background: #FED83D;
      border: none;
      border-radius: 4px;
      font-size: $f-size-14;
      font-weight: 600;
      outline: none;
      i{
        padding-right: 10px;
      }
    }
    &_list{
      width: 111px;
      height: 40px;
      margin-left: 24px;
      background: $color-3;
      border: 1px solid $color-1;
      border-radius: 4px;
      font-size: $f-size-14;
      font-weight: 600;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        padding-right: 10px;
        font-size: $f-size-20;
      }
    }
    &_circle{
      width: 40px;
      height: 40px;
      margin-left: 24px;
      background: #9B51E0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: $f-size-14;
      font-weight: 600;
    }
  }
}