.search{
  width: 524px;
  height: 40px;
  margin-left: 24px;
  border: 1px solid $color-1;
  border-radius: 4px;
  &__block{
    display: flex;
    align-items: center;
    button{
      height: 40px;
      background: transparent;
      border: none;
      outline: none;
    }
  }
  &__input{
    width: 500px;
    height: 40px;
    margin-left: 15px;
    font-size: $f-size-14;
    color: $color-2;
    border: none;
    outline: none;
  }
  &__list{
    border: 1px solid $color-1;
    max-height: 120px;
    overflow-y: scroll;
    &_item{
      list-style: none;
      border-bottom: 1px solid $color-1;
      border-radius: 4px;
      height: 40px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-size: 16px;
      color: $color-2;
    }
    &_item:last-child{
      border-bottom: none;
    }
  }
  
  i{
    font-size: $f-size-20;
    color: $color-2;
    padding-right: 10px;
  }
}